          <li class="nav-header">Others</li>
          <li class="nav-item">
            <a href="https://github.com/cykhoo0108/aws-advisor/issues" target="_blank" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Raise Issues</p>
            </a>
          </li>
          <li class="nav-item">
			  <a href="https://www.linkedin.com/in/kuettai-yong-171b1068/" class="nav-link">
				<img style='width: 32px' src="dist/img/kuettai.jpg" class="img-circle elevation-2" alt="User Image">
				  <span class='right'>AWS - KuetTai</span>
				</a>
          </li>
		  <li class="nav-item">
            <a href="https://www.linkedin.com/in/sarika-subramaniam-9ba591118/" class="nav-link">
              <img style='width: 32px' src="dist/img/sarika.jpg" class="img-circle elevation-2" alt="User Image">
				  <span class='right'>AWS - Sarika</span>
				</a>
            </a>
          </li>
		  <li class="nav-item">
            <a href="https://www.linkedin.com/in/cykhoo/" class="nav-link">
              <img style='width: 32px' src="dist/img/chunyong.jpg" class="img-circle elevation-2" alt="User Image">
				  <span class='right'>ECV - Chun Yong</span>
				</a>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>